# Terraform local state and plans
.terraform/
**/.terraform/
*terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
.terraform.lock.hcl
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local variables and secrets
*.tfvars
*.tfvars.json
*.pem
*.pfx
*.key

# Generated artifacts and local tools
*.zip
*.bak
*.backup
*.tmp
*~
.DS_Store
AZ
kubectl
$BACKUP_FILE.gx
session-manager-plugin.deb
dashboard.json
